.users{
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 3fr 30fr;
    margin: 15px;
}

@media(min-width: 767px)
{
    .wrap{
    width: 90%;
    }
}
.img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

img{
    width: 100%;
}

.user{
    display: grid;
    justify-items: center;
}

.info{
    border: 1.5px solid rgb(200, 197, 197);
    border-radius: 10px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: calc(13px + 4 * ((100vw - 320px) / 960));
    text-align: left;

}

@media(min-width: 480px)
{
    .info{
        display: flex;
    justify-content: space-between;
    }
    .ns{
        display: grid;
        font-weight: 600;
        text-align: left;
        line-height: 1;

    }
    .location{
        text-align: right;
        display: grid;
        font-weight: 600;
    }
    
    .status{
        font-weight: 300;
        align-self: end;
    }
    
    .country{
        align-self: end;
    }
}

.ns{
    font-weight: 600;
    margin-top: -4px;

}

.location{
    font-weight: 600;

}

.status{
    font-weight: 300;
    line-height: 1;
}




  .disabled{
      background-color: #ccc;
  }