.friends{
  margin-top: 70px;
  color: #fff;
}

.items{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.head{
  font-size: 24px;
}

.friend{
  justify-items: center;
}

.circle{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: gold;
  margin: 0 auto;
}
  