.message{
  margin: 20px;
  padding: 5px;
  padding-left: 10px;
  margin-left: 0;
  background-color: rgba(211, 211, 211, 0.5);
  border-radius: 8px;
  min-height: 25px;
  max-height: auto;
}
.messages{
  display: grid;
  grid-template-columns: 1fr 30fr;
  align-items: center;
}
.messages>img{
  width: 50px;
  height: auto;
  margin-right: 10px;
  }