.navbar{
    background-color: #5f7a6e;
    padding: 10px;
    border-radius: 5px;
  }

.item>a{
    color: #fff;
    text-decoration: #fff;
}

a.active{
  color: #203231;
}

a:hover{
  color: #203231;
}

.img{
  width: 30%;
  max-width: 30px;
}
  
/*#203231*/