.wrap{
    margin: 0 auto;
text-align: center;
}
.pagination{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination span{
    padding: 0 5px;
}

.selectedPage{
    border: 1px solid #000;
    border-radius: 50%;
}

@media(max-width: 508px){
    .pagination span{
        padding: 10px 5px 5px 0;
    }
}


