.wrap{
    margin: 0 auto;
text-align: center;
font-size: calc(10px + 4 * ((100vw - 320px) / 960));

}
.pagination{
    display: inline;
    justify-content: space-between;
    align-items: center;
}

.pagination span{
    padding: 0 5px;
}

.selectedPage{
    border: 1px solid #000;
    border-radius: 50%;
}

@media(max-width: 508px){
    .pagination{
        display: inline-block;
    }
    .prev{
        margin-bottom: 10px;
    }
}


