.login{
position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.form{
    display: grid;
    justify-items: center;
}

.form>h1{
    justify-self: center;
}
.input{
    padding-bottom: 10px;
    justify-self: center;
}

.check{
    display: flex;
    align-items: center;
    margin-top: -10px;
}