.body.night{
  background: #203231;
  background-size: contain;
  color: #fff;
  height: 100%;
  z-index: 0;
}
.body{
  width: 100%;
  height: 100%;
  background: #fff;
  background-size: contain;
  z-index: 0;
  position: fixed;
}

.wrapper.nightMode{
  color: #fff;
}
.wrapper{
  display: grid;
  width: 90%;
  margin: 0 auto;
  line-height: 1.5;
  grid-auto-rows: minmax(55px, auto);
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px; 
  z-index: 100;
  position: relative;
}

.app-wrapper-content{
    line-height: 0.2;
    display: grid;
    grid-gap: 10px;
}


button{
  border: none;
  padding-right: 10px;
  padding-left: 10px;
  color: #fff;
  background-color: #5f7a6e;
  border-radius: 5px;
  font-size: calc(12px + 4 * ((100vw - 320px) / 960));
  font-family: inherit;
  margin-top: 10px;
}
button:hover{
  color: #5f7a6e;
  background-color: #fff;
}


textarea{
  width: 100%;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(211, 211, 211, 0.5);
  padding-left: 10px;
  border-radius: 8px;
  font-family: inherit;
  color: inherit;
}

input{
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(211, 211, 211, 0.5);
  padding-left: 10px;
  border-radius: 8px;
  font-family: inherit;
  color: inherit;
}

h1 {
  font-size: calc(20px + 16 * ((100vw - 320px) / 960));
  font-weight: 0;
}

h2 {
  font-size: calc(18px + 16 * ((100vw - 320px) / 960));
  font-weight: 0;
}

p {
  font-size: calc(15px + 4 * ((100vw - 320px) / 960));
}

a {
  font-size: calc(12px + 12 * ((100vw - 320px) / 960));
  text-decoration: none;
}




